@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
/* common utilities */
body {
  font-family: "Josefin Sans", sans-serif;
}

/* styles of top banner */
.top-banner {
  display: flex;
  justify-content: center;
  background-color: rgb(3, 3, 119);
  align-items: center;
}
.half-width {
  width: 50%;
  padding: 30px;
}
.image-transition:hover {
  transform: rotate(360deg);
  transition: 5s ease-in-out;
}
.half-width img {
  width: 556px;
  height: 438px;
  margin-left: 70px;
  margin-top: 40px;
}

.half-width h1 {
  text-align: start;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  align-items: center;
  font-size: 60px;
  margin-left: 150px;
  margin-bottom: 27px;
}
.half-width a {
  text-decoration: none;
  color: white;
  background: #e02c6d;
  padding: 10px 24px;
  margin-left: 150px;
  margin-bottom: 27px;
}
.watch-button:hover {
  transform: scale(1.25);
  padding: 30px;
}

/* section 2 style start */
.middle {
  width: 100%;
}
.player-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 170px;
}

/* player style  */
.player img {
  height: 200px;
  width: 305px;
  margin-top: 12px;
  margin-left: 12px;
}
.player {
  box-shadow: 2px 2px 9px rgb(218, 216, 216), -2px -2px 9px rgb(218, 216, 216);
  width: 330px;
  height: 474px;
  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 5px;
}
.text-style h2 {
  margin-bottom: 10px;
}
.text-style {
  text-align: start;
  margin-left: 12px;
  margin-top: 20px;
}
.player-details {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}
/* third section style  */
.third-part {
  margin-top: 100px;

  background-color: #ecf0f3;
}
.third-part-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.last-half h1 {
  text-align: start;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  align-items: center;
  font-size: 60px;
  margin-left: 150px;
  margin-bottom: 35px;
}
.copa-details {
  text-align: start;
  margin-left: 150px;
  width: 404px;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
  margin-bottom: 27px;
}
.last-half a {
  text-decoration: none;
  color: white;
  background: #e02c6d;
  padding: 10px 24px;
  margin-left: 150px;
}
.last-half img {
  width: 567px;
  height: 427px;
  margin-left: 50px;
  margin-top: 25px;
}

/* bonus-part-style  */
.bonus-part-body {
  font-family: "Prompt", sans-serif;
  margin: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  background: #ecf0f3;
  padding: 50px 0 0 0;
}

.container-bonus-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* News-letter part  */
.box {
  width: 500px;
  height: 500px;
  padding: 50px 30px;
  background-color: white;
  box-shadow: 10px 10px 20px #cbcde1, -10px -10px 30px rgb(184, 183, 183);
  border-radius: 20px;
  text-align: center;
}
.box h2 {
  margin-top: 20px;
}
.box p {
  color: grey;
  margin: 5px 5px;
  margin-bottom: 20px;
}
.box img {
  width: 300px;
  height: 200px;
}
.btn {
  position: relative;
  margin: 30px 0 20px;
}
.email {
  border: 0;
  outline: none;
  padding: 12px 15px;
  width: 100%;
  height: 42px;
  border-radius: 50px;
  box-shadow: inset 6px 10px 30px #cbcde1,
    inset -6px -2px 3px rgb(211, 210, 210);
}

.subs-bttn {
  background-color: rgb(104, 104, 104);
  border: 0;
  border-radius: 50px;
  color: white;
  position: absolute;
  padding: 12px 15px;
  height: 42px;
  top: 0;
  right: 0;
}
.subs-bttn:hover {
  background-color: green;
  transition: 2s linear;
}
/* contact-card design  */

.contact-photo img {
  width: 100px;
  height: 100px;
  margin-left: 1px;
  margin-top: 10px;
  border-radius: 50px;
}
.contact-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgb(202, 202, 202),
    -10px -10px 15px rgb(199, 199, 199);
  margin: 30px 0 40px 85px;
}
.contact-card {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 350px;
  height: 520px;
  margin-left: 300px;
  padding: 50px 30px;
  background-color: white;
  box-shadow: 10px 10px 20px #cbcde1, -10px -10px 30px rgb(184, 183, 183);
  border-radius: 20px;
  text-align: center;
}
.social-icon {
  margin-top: 20px;

  margin-left: 10px;
}
.fab {
  color: indigo;
  font-size: 26px;
  padding: 5px;
  margin-bottom: 30px;
}
.contact-bttn a {
  text-decoration: none;
  color: #555;
  margin-top: 50px;
}
.design {
  box-shadow: 5px 5px 15px rgb(196, 194, 194), -5px -5px 15px rgb(196, 194, 194);
  padding: 15px 20px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 30px;
}
.icon {
  margin-top: 50px;
}

.far {
  color: rgb(63, 63, 63);
  padding-right: 25px;
}
.design:hover {
  background-color: lawngreen;
  transition: 2s linear;
}
/* contact card end  */

/* footer-section style  */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.logo img {
  width: 483px;
  height: 110px;
}
.fotter-icon {
  font-size: 25px;
  color: grey;
  letter-spacing: 25px;
}
.copyright {
  margin-top: 20px;
}

/* Media Query  */
/* mobile section  */
@media only screen and (max-width: 688px) {
  /* top banner section  */
  .top-banner {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .half-width {
    width: 100%;
  }
  .half-width h1 {
    font-size: 30px;
    margin-left: 80px;
    margin-top: 20px;
  }
  .half-width a {
    margin-left: 80px;
  }
  .half-width img {
    width: 344px;
    height: 344px;
    padding-right: 30px;
  }
  /* top banner end  */
  /* middle part start   */
  .player-container {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  /* middle part end  */
  /* third-part start  */
  .third-part {
    width: 100%;
  }
  .third-part-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last-half h1 {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 40px;
  }
  .last-half p {
    width: 80%;
    font-size: 16px;
    margin-left: 30px;
  }
  .last-half a {
    margin-left: 30px;
  }

  .last-half img {
    width: 344px;
    height: 344px;
    padding-right: 22px;
    margin-left: 25px;
  }
  /* third partr end  */
  /* bonus part start  */
  .bonus-part-body {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 100px;
    padding: 30px;
  }
  .box {
    width: 100%;
    padding: 20px;
  }
  .contact-card {
    width: 100%;
    margin-left: 0px;
  }
  .news-letter-logo img {
    width: 100%;
  }
  .contact-photo {
    margin: 30px 0 40px 65px;
  }
  .contact-card .design {
    margin: 0px;
  }

  /* footer section start  */

  .footer-container {
    width: 344px;
    margin: 0;
  }
  .logo img {
    margin: -3px 0 -25px 5px;
    padding: 30px;
    width: 250px;
    height: 120px;
  }

  .social-icon {
    margin-top: 10px;
  }
  .fotter-icon {
    font-size: 10px;
    text-align: center;
  }
  .copyright {
    margin-top: -10px;
  }
}
